.status {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 55px;
  right: 280px;
}

body {
  background: #e5e5e5;
  margin: 0;
  margin-top: 16px;
}

.main-page__tabs {
  display: flex;
}

.main-page__tab {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 22px;
  font-family: "Sansation Light", arial;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 16px;
  color: #3f8bae;
  mix-blend-mode: multiply;
  text-transform: uppercase;
  cursor: pointer;
}

.header__icon {
  margin-right: 7px;
}

.main-page__tab:last-child {
  margin-right: 0px;
}

.main-page__header {
  padding: 5px;
  background-color: #fff;
  display: flex;
  height: 46px;
  align-items: center;
  justify-content: center;
}

.header__vertical-line {
  margin-left: 250px;
  margin-right: 30px;
  width: 1px;
  height: 100%;
  background-color: #3f8bae;
}

.header__account {
  display: flex;
  align-items: center;
  justify-content: center;
}

.account__name {
  font-family: "Sansation Light", arial;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 16px;
  margin-right: 15px;
  color: #3f8bae;
  mix-blend-mode: multiply;
}

.main-page__content {
  margin-top: 75px;
}

.content__search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__input-search {
  width: 286px;
  height: 15px;
  background: #ffffff;
  border-radius: 12px;
}

.search__text {
  font-family: "Sansation Light", arial;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 16px;
  margin-right: 10px;
  color: #818a8e;
  text-transform: uppercase;
  mix-blend-mode: multiply;
}

.search__icon-search {
  margin-left: 10px;
  margin-right: 30px;
}

.search__filter {
  background: #ffffff;
  border-radius: 12px;
  width: 172px;
  padding-left: 10px;
}

.content__events {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.content__event {
  width: 800px;
  height: 175px;
  left: 17px;
  top: 193px;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.section__title {
  font-family: "Sansation Light", arial;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  width: 100px;
  color: #2c637c;
  mix-blend-mode: multiply;
  text-align: right;
  margin-right: 7px;
}

.event_left-section {
  position: relative;
}

.left-section__title {
  position: absolute;
  top: -16px;
  left: 20px;
  width: 400px;
  height: 30px;
  padding: 3px 5px;
  display: flex;
  align-items: center;
  text-align: left;
  font-family: "Sansation Light", arial;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 27px;
  background: rgba(63, 139, 174, 0.5);
  border-radius: 5px;
  color: #ffffff;
}

.left-section__content {
  margin-top: 55px;
}

.category {
  font-family: "Sansation Light";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 15px;
  margin-right: 5px;
  padding: 3px;
  /* identical to box height */

  text-align: center;
  background: rgba(196, 196, 196, 0.48);
  border-radius: 5px;

  color: rgba(0, 0, 0, 0.53);
}

.category--green {
  font-family: "Sansation Light";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 15px;
  margin-right: 5px;
  padding: 3px;
  /* identical to box height */

  text-align: center;
  background: rgba(163, 201, 141, 0.48);
  border-radius: 5px;

  color: rgba(0, 0, 0, 0.53);
}

.left-section__section {
  margin-left: 10px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.section__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__content--status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.right-section__image {
  top: -16px;

  position: absolute;
  width: 250px;
  border-radius: 8px;
}

.event_right-section {
  width: 300px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 10px;
}

.section__content {
  font-family: "Sansation Light";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;

  color: #818a8e;

  mix-blend-mode: multiply;
}

.section__content--date {
  font-family: "Sansation Light";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  width: 150px;
  color: #818a8e;

  mix-blend-mode: multiply;
}

.right-section__button {
  width: 250px;
  height: 35px;
  font-family: "Sansation Light", arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
    border: none;
  color: #ffffff;
  position: absolute;
  top: 126px;
  background: rgba(132, 181, 203, 0.61);
  box-shadow: 0px 2px 4px rgba(183, 203, 213, 0.65);
  border-radius: 5px;
}
