<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/employee_event_management.css}"/>
    <script type="text/javascript" th:src="@{/js/employee_event_management.js}"></script>
    <link href="https://allfont.ru/allfont.css?fonts=sansation-light" rel="stylesheet" type="text/css"/>
    <title>Управление мероприятиями</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>

<th th:with="arrdess=${#httpServletRequest.getServerName}">

    <div class="main-page__container">
        <div class="main-page__header">
            <div class="main-page__tabs">

                <a th:href="${'http://' + {arrdess} + ':' + {@environment.getProperty('server.port')} + '/employee/main'}">
                    <div class="main-page__tab">
                        <img class="header__icon" th:src="@{/images/employee_event_management/apps 1.svg/}" alt="icon">
                        Мероприятия
                    </div>
                </a>

                <a th:href="${'http://' + {arrdess} + ':' + {@environment.getProperty('server.port')} + '/employee/lists_of_participants'}">
                    <div class="main-page__tab">
                        <img class="header__icon" th:src="@{/images/employee_event_management/list 1.svg/}" alt="icon">
                        Списки участников
                    </div>
                </a>

                <a th:href="${'http://' + {arrdess} + ':' + {@environment.getProperty('server.port')} + '/employee/event_management'}">
                    <div class="main-page__tab">
                        <img class="header__icon" th:src="@{/images/employee_event_management/edit 1.svg/}" alt="icon">
                        Управление мероприятиями
                    </div>
                </a>
            </div>
            <div class="header__vertical-line"></div>
            <div class="header__account">

                <div class="account__name" th:text="${fullNameUser}"/>

                <img alt="acc" th:src="@{/images/employee_main_page/man 1.svg/}" class="account__icon">
            </div>

            <a th:href="${'http://' + {arrdess} + ':' + {@environment.getProperty('server.port')} + '/employee/settings'}">
                Настройки
            </a>

            <a th:href="${'http://' + {arrdess} + ':' + {@environment.getProperty('server.port')} + '/authorization'}">
                ВЫХОД
            </a>

        </div>
        <div class="editpage-title">УПРАВЛЕНИЕ МЕРОПРИЯТИЯМИ</div>
        <div class="main-page__content">
            <div class="content__search">
                <div class="search__text">поиск</div>
                <input type="text" class="search__input-search">
                <img th:src="@{/images/employee_event_management/search 1.svg/}" alt="" class="search__icon-search">
                <div class="search__text">фильтр</div>
                <select name="" class="search__filter" id="">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                </select>
            </div>

            <div class="content__events">
                <div class="events__title">
                    <div class="empty-section"></div>
                    <div class="middle-section--title">НАЗВАНИЕ КУРСА</div>
                    <a class="end-section--title" th:href="${'http://' + {arrdess} + ':' + {@environment.getProperty('server.port')} + '/employee/event_management/create'}">Добавить курс</a>
                </div>

                <th:block th:each="course : ${courses}">


                    <form method="post">
                        <div class="event">
                            <div class="events__title">
                                <div class="empty-section"></div>
                                <div class="middle-section">
                                    <div class="middle-section__text" th:utext="${course.getName()}"/>
                                </div>
                                <div class="end-section">
                                    <button class="event__button" type="submit" name="delete"
                                            th:formaction="'/employee/event_management/' + ${course.getId() + '/deleteCourse'}">
                                        <img th:src="@{/images/employee_event_management/delete.svg/}" alt=""></button>
                                    <button class="event__button"><img
                                            th:src="@{/images/employee_event_management/pen.svg/}"
                                            alt=""></button>
                                    <button class="event__button"><img
                                            th:src="@{/images/employee_event_management/peoples.svg/}"
                                            alt=""></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </th:block>
            </div>

        </div>
    </div>
    </div>
    </div>
</th>
</body>
</html>