<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Личный кабинет студента</title>
    <link rel="stylesheet" th:href="@{/css/employee_lists_of_participants.css}"/>
    <script type="text/javascript" th:src="@{/js/employee_lists_of_participants.js}"></script>
</head>
<body>
<br>
<div class="mainHeader">
    <div class="main-page__tab"><img class="header__icon"
                                     th:src="@{/images/employee_event_management/apps 1.svg/}" alt="icon">
        <p><input type="button" value="мероприятия" id="main"
                  th:onclick="pageOpenEmployeeMain()"></p>
    </div>
    <div class="main-page__tab"><img class="header__icon"
                                     th:src="@{/images/employee_event_management/list 1.svg/}" alt="icon">
        <p><input type="button" value="списки участников" id="lists_of_participants"
                  th:onclick="pageOpenEmployee_lists_of_participants()"></p>
    </div>
    <div class="main-page__tab"><img class="header__icon"
                                     th:src="@{/images/employee_event_management/edit 1.svg/}" alt="icon">
        <p><input type="button" value="управление мероприятиями" id="event_management"
                  th:onclick="pageOpenEmployeeEventManagement()"></p>
    </div>

    <a id="headerP" href="ссылка на профиль">Иванов Иван</a>
</div>
<br>
<br>
<br>
<div class="participantsListHeader">Списки участников</div>
<br>
<br>
<table class="inputTable">
    <tr>
        <td>

            <form action="Поиск">
                ПОИСК
                <input type="text" class="blueInput" size="40" name="search">
                <input type="image" th:src="@{/images/employee_lists_of_participants/search.png/}" alt="ОК" width="18px"
                       height="18px">
            </form>
        </td>

        <td>
            ФИЛЬТР
            <select class="blueInputSelect">
                <option>Java</option>
                <option>Python</option>
                <option>Волонтерство</option>
                <option>Трудоустройство</option>
            </select>
        </td>
    </tr>

</table>
<br>
<br>
<table class="mainTable">
    <tr>
        <th class="header"></th>
        <th class="header">Название курса</th>
        <th class="header"></th>
    </tr> <!--ряд с ячейками заголовков-->
    <tr>
        <td class="whiteBorder"><a href="#"><img th:src="@{/images/employee_lists_of_participants/pencil.png/}"
                                                 class="image" width="30" height="30"
                                                 alt="Изменение названия курса"></a></td>
        <td class="whiteBorder">
            <div class="eventName">Java-разработка</div>
        </td>
        <td class="whiteBorder"><a href="#"><img th:src="@{/images/employee_lists_of_participants/list.png/}"
                                                 class="image" width="30" height="30"
                                                 alt="список участников"></a></td>
    </tr>
    <tr>
        <td class="whiteBorder"><a href="#"><img th:src="@{/images/employee_lists_of_participants/pencil.png/}"
                                                 class="image" width="30" height="30"
                                                 alt="Изменение названия курса"></a></td>
        <td class="whiteBorder">
            <div class="eventName">Дизайн интерьеров</div>
        </td>
        <td class="whiteBorder"><a href="#"><img th:src="@{/images/employee_lists_of_participants/list.png/}"
                                                 class="image" width="30" height="30"
                                                 alt="список участников"></a></td>
    </tr>
    <tr>
        <td class="whiteBorder"><a href="#"><img th:src="@{/images/employee_lists_of_participants/pencil.png/}"
                                                 class="image" width="30" height="30"
                                                 alt="Изменение названия курса"></a></td>
        <td class="whiteBorder">
            <div class="eventName">Встреча с Neoflex</div>
        </td>
        <td class="whiteBorder"><a href="#"><img th:src="@{/images/employee_lists_of_participants/list.png/}"
                                                 class="image" width="30" height="30"
                                                 alt="список участников"></a></td>
    </tr>
    <tr>
        <td class="whiteBorder"><a href="#"><img th:src="@{/images/employee_lists_of_participants/pencil.png/}"
                                                 class="image" width="30" height="30"
                                                 alt="Изменение названия курса"></a></td>
        <td class="whiteBorder">
            <div class="eventName">Встреча первокурсников с деканом</div>
        </td>
        <td class="whiteBorder"><a href="#"><img th:src="@{/images/employee_lists_of_participants/list.png/}"
                                                 class="image" width="30" height="30"
                                                 alt="список участников"></a></td>
    </tr>
    <tr>
        <td class="whiteBorder"><a href="#"><img th:src="@{/images/employee_lists_of_participants/pencil.png/}"
                                                 class="image" width="30" height="30"
                                                 alt="Изменение названия курса"></a></td>
        <td class="whiteBorder">
            <div class="eventName">Экскурсия по достопримечательностям</div>
        </td>
        <td class="whiteBorder"><a href="#"><img th:src="@{/images/employee_lists_of_participants/list.png/}"
                                                 class="image" width="30" height="30"
                                                 alt="список участников"></a></td>
    </tr>
    <tr>
        <td class="whiteBorder"><a href="#"><img th:src="@{/images/employee_lists_of_participants/pencil.png/}"
                                                 class="image" width="30" height="30"
                                                 alt="Изменение названия курса"></a></td>
        <td class="whiteBorder">
            <div class="eventName">Сварка для начинающих: набор на курс</div>
        </td>
        <td class="whiteBorder"><a href="#"><img th:src="@{/images/employee_lists_of_participants/list.png/}"
                                                 class="image" width="30" height="30"
                                                 alt="список участников"></a></td>
    </tr>
    <tr>
        <td class="whiteBorder"><a href="#"><img th:src="@{/images/employee_lists_of_participants/pencil.png/}"
                                                 class="image" width="30" height="30"
                                                 alt="Изменение названия курса"></a></td>
        <td class="whiteBorder">
            <div class="eventName">Электричество в жизни человека: лекция от профессора МГУ</div>
        </td>
        <td class="whiteBorder"><a href="#"><img th:src="@{/images/employee_lists_of_participants/list.png/}"
                                                 class="image" width="30" height="30"
                                                 alt="список участников"></a></td>
    </tr>

</table>
<br>
<br>
<br>
<div class="divList">
    <ul class="pagination">

        <li><a class="active" href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>


    </ul>


</div>
</body>
</html>