<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/css/registration_employee.css}"/>
    <script type="text/javascript" th:src="@{/js/registration_employee.js}"></script>

    <div class="header">
        <h1 class="VSTU">ВГТУ</h1>
        <p class="VSTU_full">ВОРОНЕЖСКИЙ ГОСУДАРСТВЕННЫЙ <br>ТЕХНИЧЕСКИЙ УНИВЕРСИТЕТ</p>
    </div>
</head>

<body>

<div class="h1container">
    <h1 style="color: var(--gold); margin-bottom: -5px"> Зарегистрируйтесь </h1>
    <h1 style="font-size: 13px; color: var(--dim-gray)"> если вы сотрудник ВУЗа</h1>
</div>

<form class="avtorizacija" th:method="POST" th:action="@{/}" th:object="${user}">
    <div class="flex-wrapper-one">
        <img th:src="@{/images/registration/VSTU.png/}" class="logo">
        <p class="labelmer">MЕРОПРИЯТИЯ</p>
    </div>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="wrap-input100 validate-input">
                    <select class="input100" name="division" th:field="*{division}" id="signup-division">
                        <option value="0">выберите подразделение</option>
                        <option value="1">Студент</option>
                        <option value="2">Деканат</option>
                        <option value="3">Кафедра</option>
                        <option value="4">Аспирантура</option>
                    </select>

                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="surname" th:field="*{surname}" id="signup-surname"
                           placeholder="Введите фамилию">
                    <span class="focus-input100" data-placeholder="Surname"></span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="name" th:field="*{name}" id="signup-name"
                           placeholder="Введите имя">
                    <span class="focus-input100" data-placeholder="Name"></span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="patronymic" th:field="*{patronymic}"
                           id="signup-patronymic"
                           placeholder="Введите отчество">
                    <span class="focus-input100" data-placeholder="Patronymic"></span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="email" th:field="*{email}" id="signup-email"
                           placeholder="Введите email">
                    <span class="focus-input100" data-placeholder="Email"></span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="password" name="password" th:field="*{password}" id="signup-password"
                           placeholder="Введите пароль">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>

                <div class="flex-wrapper-two">
                    <p><input type="button" value="Назад" id="Cancel_button" class="b1label"
                              th:onclick="pageOpenAuthorization()"></p>
                    <p><input type="submit" value="Зарегистрироваться" id="login-send" class="reg-label"></p>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>