<!DOCTYPE html>
<html>
<head>
    <title>Страница студента</title>
    <link rel="stylesheet" th:href="@{/css/student_calendar.css}"/>
    <script type="text/javascript" th:src="@{/js/student_calendar.js}"></script>

    <link href="https://allfont.ru/allfont.css?fonts=sansation-light" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="main-page__container">
    <div class="main-page__header">
        <div class="main-page__tabs">
            <div class="main-page__tab"><img class="header__icon" th:src="@{/images/student_main_page/apps 1.svg/}"
                                             alt="icon">
                <p><input type="button" value="Мероприятия" id="calendar"
                          th:onclick="pageOpenMain()"></p>
            </div>
            <div class="main-page__tab"><img class="header__icon" th:src="@{/images/student_main_page/calendar 1.svg/}" alt="icon">
                <p><input type="button" value="календарь" id="main"
                          th:onclick="pageOpenCalendar()"></p>
            </div>
        </div>
        <div class="header__vertical-line"></div>
        <div class="header__account">
            <div class="account__name">
                Концевая Л.А.
            </div>
            <img alt="acc" th:src="@{/images/student_main_page/man 1.svg/}" class="account__icon">

            </img>
        </div>
    </div>
    <div class="main-page__content">
        <div class="content__events">
            <table>
                <tr>
                    <th>январь</th>
                    <th>февраль</th>
                    <th>март</th>
                    <th>апрель</th>
                </tr>
                <tr>
                    <td>
                        <p>запланировано: 0</p>
                        <p>посещено: 0</p>
                    </td>
                    <td>
                        <p>запланировано: 0</p>
                        <p>посещено: 0</p>
                    </td>
                    <td>
                        <p>запланировано: 0</p>
                        <p>посещено: 0</p>
                    </td>
                    <td>
                        <p>запланировано: 0</p>
                        <p>посещено: 0</p>
                    </td>
                </tr>
                <tr>
                    <th>май</th>
                    <th>июнь</th>
                    <th>июль</th>
                    <th>август</th>
                </tr>
                <tr>
                    <td>
                        <p>запланировано: 0</p>
                        <p>посещено: 0</p>
                    </td>
                    <td>
                        <p>запланировано: 0</p>
                        <p>посещено: 0</p>
                    </td>
                    <td>
                        <p>запланировано: 0</p>
                        <p>посещено: 0</p>
                    </td>
                    <td>
                        <p>запланировано: 0</p>
                        <p>посещено: 0</p>
                    </td>
                </tr>
                <tr>
                    <th>сентябрь</th>
                    <th>октябрь</th>
                    <th>ноябрь</th>
                    <th>декабрь</th>
                </tr>
                <tr>
                    <td>
                        <p>запланировано: 0</p>
                        <p>посещено: 0</p>
                    </td>
                    <td>
                        <p>запланировано: 0</p>
                        <p>посещено: 0</p>
                    </td>
                    <td>
                        <p>запланировано: 0</p>
                        <p>посещено: 0</p>
                    </td>
                    <td>
                        <p>запланировано: 0</p>
                        <p>посещено: 0</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>